.title{
	font-size:1.5em;
	float:left;
}
#bookingDatePicker{
	font-size:0.9em;
	border-radius:7px;
	text-align:center;
	height:25px;
}

#addBooking input{
	width:100%;
	border-radius:7px;
}

.ui-dialog-titlebar-close{
	display:none;
}

#assignTable{
	font-size:0.8em;
	padding:2px;
}

.error{
	color:red;
	font-size:0.8em;
}