.title{
	font-size:1.5em;
	float:left;
}
#bookingDatePicker{
	font-size:0.9em;
	border-radius:7px;
	text-align:center;
	height:25px;
	background-color:#e8f4ff;
}

#addBooking input{
	width:100%;
	border-radius:7px;
}

.ui-dialog-titlebar-close{
	display:none;
}

#assignTable{
	font-size:0.8em;
	padding:2px;
}

.error{
	color:red;
	font-size:0.8em;
}
.imgIcon{
	border-radius:5px;
	float:right;
/* 	background-color:#e8f4ff; */
	height:30px;
	position:relative;
	top:3px;
	margin-right:10px;
/* 	color:black; */
	padding-left:2px;
	padding-right:2px;
}

.imgIcon img{
	height:95%;
}

.imgText{
	position:relative;
	top:-5px;
	font-size:0.6em;
}