body,html {
	height:99%;
	margin:0px;
	padding:0px;
	background-color:gray;
}

.unit{
	float:right;
}

#newsContent{
	word-wrap: break-word; 
	word-break: normal; 
}

input,input:focus, textarea:focus, select:focus 
{outline:0 none;}

.titleDate{
	color:gray;
	float:right;
	font-size:0.8em;
}

#mainPageAcdion,#mainPageAcdionTittle{
	margin:0 auto;
	width:80%;
}
#addNewsDIV{
	margin:0 auto;
	padding:22px;
	width:75.2%;
	border-radius:10px 10px 10px 10px;
	border:2px dotted red;
	background: rgb(240,249,255);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 );
	
}

#mainBox {
	width:95%;
	height:100%;
	padding: 0px;
	margin: 0px auto;
}

#header {
	height: 115px;
	width: 100%;
	min-height: 115px;
	min-width: 860px;
	border-radius:20px 20px 0px 0px;
	margin-top:5px;
	background-color:white;
	background-image: url("/BDYRMS/images/headerBg.jpg");
	background-size:contain;
	background-repeat: no-repeat;
	background-position: right;
}

#mainPageContent{
/* 	background-image: url("/BDYRMS/images/headerBg.jpg"); */
/* 	background-size: 100% 100%; */
/* 	background-repeat: no-repeat; */
/* 	background-position: center; */
	margin-top:2px;
	min-width: 860px;
	height:85%;
	width:100%;
	background-color:white;
}

#aside {
	overflow:auto;
	border-right:2px solid gray;
	float:left;
	text-align:center;
	width: 160px;
	height: 100%;
}

#article {
	overflow:auto;
	float:left;
	width: 83.2%;
	height: 99.7%;
}

#writeCodeInThisDiv{
	padding-top:10px;
	padding-left:10px;
	width:99%;
	height:98.5%;
}

#footer {
	color: gray;
	clear:both;
	text-align: center;
	width: 100%;
	border-radius:0px 0px 20px 20px;
	margin-top:2px;
	background-color:white;
	min-width: 860px;
}

#functionLogo{
	margin-top:10px;
	margin-left:10px;
	float:left;
	height:30px;
}
#functionTXT{
	color:darkblue;
	float:left;
	line-height:50px;
}
.asideBtn{
	font-weight:900;
	font-size:1.5em;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 90%;
	height: 40px;
}

.MainBtnColor{
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 9px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}

.ActiveBtnColor{
	background: rgb(254,204,177);
	background: -moz-linear-gradient(top,  rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,204,177,1)), color-stop(50%,rgba(241,116,50,1)), color-stop(51%,rgba(234,85,7,1)), color-stop(100%,rgba(251,149,94,1)));
	background: -webkit-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
	background: linear-gradient(to bottom,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 );

	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid red;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 9px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}

.MainBtnColor:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}

.MainBtnColor:active {
	position:relative;
	top:1px;
}

#bannerLogo {
	height:110px;
}

#LogoLabel{
	float:left;
	width:18%;
}

#empName{
	margin-bottom:-10px;
	color: black;
	display: inline-block;
	font-size:1.6em;
	font-weight: 900;
}

p {
	margin: 1px;
}

.disName {
	padding-left:1.2em;
	display: inline-block;
	width:80px;
}
.topItem {
	padding-left:1.2em;
	display: inline-block;
/* 	width:120px; */
	width:5em;
/* 	text-justify:inter-ideograph; */
/* 	text-justify: distribute-all-lines; */
}

.topLabel {
	margin-top:2px;
	margin-left:15px;
	float: left;
	height:96%;
	
/* 	min-width : 100px; */
}

.disValue {
/* 	width:20%; */
	width: 2em;
	text-align:right;
	
/* 	float:right; */
	display: inline-block;
	color: blue;
	margin-right:8px;
/* 	padding- */
}
.incomeValue {
/* 	width: 2em; */
	text-align:right;
	float:right;
	display: inline-block;
	color: blue;
	margin-right:8px;
}
.topValueint {
/* 	width:20%; */
	width: 2em;
	text-align:right;
	
/* 	float:right; */
	display: inline-block;
	color: blue;
	margin-right:8px;
/* 	padding- */
}

.topValue {
	
/* 	float:right; */
	text-align:left;
	margin-left:20px;
	display: inline-block;
	color: blue;
}


#topEMPinfo{
	margin-right:20px;
}

#showstate{
	z-index:99999999;
	font-weight:900;
	top:50%;
	left:50%;
	position:absolute;
	display:none;
	
	
	background: rgb(255,48,25);
	background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1)));
	background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );

/* 	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa; */
/* 	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa; */
/* 	box-shadow: 0px 1px 0px 0px #f0f7fa; */
/* 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2)); */
/* 	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%); */
/* 	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%); */
/* 	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%); */
/* 	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%); */
/* 	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%); */
/* 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0); */
/* 	background-color:#33bdef; */
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid rgb(255,48,25);
	color:white;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:20px;
	text-shadow:0px -1px 0px #5b6178;
}

#loading{
	margin-left:-75px;
	margin-top:-43;
	z-index:99999999;
	top:50%;
	left:50%;
	position:absolute;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}
#loadingControl{
	background-color:black;
	opacity:0.5;
	z-index:99999998;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:absolute;
}
.strongLabel {
	 margin-bottom:5px;
	 display:inline-block;
}

.tableHeaderAndFooter{
	background: rgb(53,106,160);
	background: -moz-linear-gradient(top,  rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%, rgba(96,125,155,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,106,160,1)), color-stop(100%,rgba(53,106,160,1)), color-stop(100%,rgba(96,125,155,1)));
	background: -webkit-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%,rgba(96,125,155,1) 100%);
	background: -o-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%,rgba(96,125,155,1) 100%);
	background: -ms-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%,rgba(96,125,155,1) 100%);
	background: linear-gradient(to bottom,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%,rgba(96,125,155,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#607d9b',GradientType=0 );
	color:white;
}

.tableThead{
	background: rgb(53,106,160);
	background: -moz-linear-gradient(top,  rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%, rgba(96,125,155,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,106,160,1)), color-stop(100%,rgba(53,106,160,1)), color-stop(100%,rgba(96,125,155,1)));
	background: -webkit-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%,rgba(96,125,155,1) 100%);
	background: -o-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%,rgba(96,125,155,1) 100%);
	background: -ms-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%,rgba(96,125,155,1) 100%);
	background: linear-gradient(to bottom,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%,rgba(96,125,155,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#607d9b',GradientType=0 );
	border:1px solid rgb(167,207,223);
	color:white;
}
