#article {
	overflow: scroll;
}

	body, html{
		width: 100%;
		height: 100%;
	}
	#orderContainer {
		width: 100%;
		height: 100%;
		border: 2px solid;
		overflow: scroll;
/* 		background-color: #3487BF; */
/* 		background-color: silver; */
	}
	#btnArea {
/* 		position: relative; */
  		margin-left:38%; 
   		margin-top:10%;  
		overflow: scroll;
/*   		padding-top:200px; */
	}
	#btnArea>input[type=button] {
		width: 200px;
		height: 80px;
		border: 0;
/* 		background-image: linear-gradient( to bottom, #5FD4C6 40%,  #3BB0A4 70%); */
/*  		background-color: #3BB0A4; */
/* 		background-color: silver; */
 		border-radius: 10px;
		margin-top: 30px;
		font-size: 35px;
		font-weight: bold;
		background-color: white;
		text-align:center;
	}
	#btnSet {
		width: 200px;
		height: 80px;
		border: 0;
		font-weight: bold;
		font-size: 35px;
		background-color: white;
/*  		background-color: #3BB0A4; */
 		border-radius: 10px;
		margin-top: 30px;
		text-align:center;
	}
	


ul {
	list-style-type: none;
}

li {
	padding: 20px;
/* 	border-bottom: 1px solid #fff; */
/* 	border-top: 1px solid transparent; */
}
#mainTitle {
	font-size: 20px;
/* 	padding: 100px; */
/* 	padding-top:100px; */
}
#mainContent {
	padding: 20px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}

#mainContent:hover {
	background: #d0dafd;
	color: #339;
}



.myButton {
	position: relative;
	float:right;
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 9px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}

.myButton:active {
	position:relative;
	top:1px;
}



#btnconfirm {
/* 	padding: 2000px; */
/* 	margin: 200px; */
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #358be6), color-stop(1, #0266d1));
	background:-moz-linear-gradient(top, #358be6 5%, #0266d1 100%);
	background:-webkit-linear-gradient(top, #358be6 5%, #0266d1 100%);
	background:-o-linear-gradient(top, #358be6 5%, #0266d1 100%);
	background:-ms-linear-gradient(top, #358be6 5%, #0266d1 100%);
	background:linear-gradient(to bottom, #358be6 5%, #0266d1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#358be6', endColorstr='#0266d1',GradientType=0);
	background-color:#358be6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 22px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}

#btnconfirm:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0266d1), color-stop(1, #358be6));
	background:-moz-linear-gradient(top, #0266d1 5%, #358be6 100%);
	background:-webkit-linear-gradient(top, #0266d1 5%, #358be6 100%);
	background:-o-linear-gradient(top, #0266d1 5%, #358be6 100%);
	background:-ms-linear-gradient(top, #0266d1 5%, #358be6 100%);
	background:linear-gradient(to bottom, #0266d1 5%, #358be6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0266d1', endColorstr='#358be6',GradientType=0);
	background-color:#0266d1;
}

#btnconfirm:active {
	position:relative;
/* 	padding: 200px; */
/* 	padding-bottom: 100px; */
	top:1px;
}

#mainArea span {
	width: 30px;
	text-align: center;
	position: relative;
	float:right;
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
/* 	box-shadow: 0px 1px 0px 0px #f0f7fa; */
/* 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2)); */
/* 	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%); */
/* 	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%); */
/* 	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%); */
/* 	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%); */
/* 	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%); */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
/* 	background-color:#33bdef; */
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
/* 	border:1px solid #057fd0; */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	
	float: right;
	background-color:#ffffff;
/* 	background-color: white; */
	color: black;
}

	